
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mis2000</title>
</head>
<body>
    <div> 

        <h2>mis2000lab </h2>
    </div>
</body>
</html>
